{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5 display-4">{{ _('Lingo Hearts & Minds') }}</h1>
    
    <!-- Mission and Vision -->
    <div class="mt-5 mb-5">
        <p class="font-weight-bold mt-4"><strong>{{ _("Podcast Coming Soon! - Spring 2024") }}</strong></p>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <!-- Charlemos Charlotte Card -->
        <div class="col">
            <a href="{{ url_for('charlemos_charlotte') }}" class="text-decoration-none">
                <div class="card shadow project-card">
                    <img src="{{ url_for('static', filename='images/cc.png') }}" class="card-img" alt="Project Image" style="height: 250px; object-fit: cover;">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{ _('Charlemos Charlotte: Language Exchange Program') }}</h5>
                        <p class="card-text"><small>{{ _('Ages 18+') }}</small></p>
                        <p class="card-text">{{ _('A Spanish-English language exchange program for adults wanting to connect with and learn from others of their learning language. ') }}</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Living Archives Card -->
        <div class="col">
            <a href="{{ url_for('living_archives') }}" class="text-decoration-none">
                <div class="card shadow project-card">
                    <img src="{{ url_for('static', filename='images/lac.png') }}" class="card-img" alt="Project Image" style="height: 250px; object-fit: cover;">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{ _('Living Archives Charlotte') }}</h5>
                        <p class="card-text"><small>{{ _('All ages') }}</small></p>
                        <p class="card-text">Local COVID-19 stories and artistic pieces from minorities whose stories are often lost in documented history.</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Conexiones que Cuentan Card -->
        <div class="col">
            <a href="{{ url_for('conexiones_que_cuentan') }}" class="text-decoration-none">
                <div class="card shadow project-card">
                    <img src="{{ url_for('static', filename='images/ctc.png') }}" class="card-img" alt="Project Image" style="height: 250px; object-fit: cover;">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{ _('Connections that Count') }}</h5>
                        <p class="card-text"><small>{{ _('Ages: Children ages 0-5 and their caregivers') }}</small></p>
                        <p class="card-text">For families interested in fostering Spanish early literacy skills. </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Southend Spanish Card -->
        <div class="col">
            <a href="{{ url_for('southend_spanish') }}" class="text-decoration-none">
                <div class="card shadow project-card">
                    <img src="{{ url_for('static', filename='images/sesc.jpeg') }}" class="card-img" alt="South End Spanish Club" style="height: 250px; object-fit: cover;">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{ _('Southend Spanish') }}</h5>
                        <p class="card-text"><small>{{ _('Ages: 18+') }}</small></p>
                    </div>
                </div>
            </a>
        </div>
        <!-- LHCC Card -->
        <div class="col">
            <a href="{{ url_for('lhcc') }}" class="text-decoration-none">
                <div class="card shadow project-card">
                    <img src="{{ url_for('static', filename='images/LHCC.png') }}" class="card-img" alt="Learning Help Centers of Charlotte" style="height: 250px; object-fit: cover;">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title">{{ _('Learning Help Centers of Charlotte') }}</h5>
                        <p class="card-text"><small>{{ _('Ages: All ages. For individuals and families.') }}</small></p>
                        <p class="card-text">
                            {{ _('Non-profit faith-based organization which aims to provide holistic programs that empower individuals and families.') }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
